<div class="form_container">
  <h2>Edit bookmark</h2>
  <form action="/bookmark/<%= @bookmark.id %>" method="post">
    <label for="name">Title: </label>
    <input type="text" name="name" value="<%= @bookmark.name %>" placeholder="<%= @bookmark.name %>">
    <br>
    <label for="url">URL: </label>
    <input type="text" name = "url" value="<%= @bookmark.url %>" placeholder="<%= @bookmark.url %>">
    <br>
    <label for="genre">Genre: </label>
    <input type="text" name="genre" value="<%= @bookmark.genre %>" placeholder="<%= @bookmark.genre %>">
    <br>
    <button>Edit Bookmark</button>
  </form>
</div>