<form class='new_form' action="/bookmark/<%= @bookmark.id %>" method="post">
  <h1>Edit Bookmark</h1>
  <input type="text" name="name" placeholder="Title" value="<%= @bookmark.name %>">
  <input type="text" name = "url" placeholder="URL" value="<%= @bookmark.url %>">
  <input type="text" name="genre" placeholder="Genre" value="<%= @bookmark.genre %>">
  <button>Edit Bookmark</button>
</form>
<form class='new_form' style="margin-top: -25px;" action="/bookmark/<%= @bookmark.id %>/delete" method="post">
  <button>Delete Bookmark</button>
</form>