<% for bookmark in @bookmarks %>
  <div class="card">
    <img src="/GlobeIcon.png">
    <div class="cardinfo">
      <h2><%= bookmark.name %> - <%= bookmark.genre %> <a href='/bookmark/<%= bookmark.id %>/edit'><img src="/edit.png"></a></h2>
      <a href='<%= bookmark.url %>'><%= bookmark.url %></a>
    </div>
  </div>
<% end %>